<section class="container">
  <section class="row-fluid">	
    <section class='span6'>
      <%=nav1("Exports")%>
    </section>
    <section class='span6' style='text-align:right;'>
      <a class="btn btn-primary" href="/leads/search">New Search</a>
    </section>
	</section>

  <section class="row-fluid box">
    <table class="table table-bordered">
      <thead>
        <tr>
          <div class="pull-right">
            <div class="span8">
              <input type='text' class='input-block-level select-all-on-focus' id='search_filter' name='search_filter'/>
            </div>

            <button class="btn btn-blue btn-medium btn-submit" style="margin-left: 2px;" type="submit" onclick="">
              <i class='icon-search'></i> Search
            </button>
          </div>
        </tr>

        <tr>
          <th>No. of Results <i class="icon-sort-up"></i></th>
          <th>No. of Companies <i class="icon-sort-up"></i></th>
          <th>Creation Date <i class="icon-sort-up"></i></th>
          <th>Download </th>
        </tr>

        </thead>
        <tbody>

        <tr>
          <td>112</td>
          <td>17</td>
          <td>10 Jun 2012 11:30pm</td>
          <td>download</td>
        </tr>

        <tr>
          <td>955</td>
          <td>177</td>
          <td>10 Jun 2012 11:30pm</td>
          <td>processing..</td>
        </tr>

        <tr>
          <td>1000</td>
          <td>19</td>
          <td>10 Jun 2012 11:30pm</td>
          <td>download</td>
        </tr>
      </tbody>
    </table>

    <div class="pagination"></div>
  
  </section>

</section>


