<div class="top_banner"></div>

<div class="container">
	<header class="launch-head">
		<h1>Meet New Clients, Today</h1>
		<h2>Get Instant Access to 11M+ B2B Leads<br>with Emails and Phone Numbers.</h2>
	</header>

	<section id="signup-sect">

		<p>Enter your email below to get a sample.</p>
		<div class="flex-container text-left">
			<form class='fancy-form span5' action="../filter_signup" method="post" style="margin-top: 15px;">
				<fieldset>
					<div class="fields">
						<input id="input-username" class=" span5 input-block-level" type="text"  name="username" placeholder="Full name" tabindex=1 required>
						<input id="input-email" class=" span5 input-block-level" type="text" name="email" placeholder="your@email.com" tabindex=1 required>

					</div>
					<button class="btn btn-large btn-primary" type="submit" value='START' tabindex=2>START</button>
				</fieldset>
			</form>
		</div>
	</section>

	<footer id="pagefooter">
		<p class="pull-right" style="margin-left: 20px;">&copy;<%=Date.today.year.to_s%> Expanded Venture - With the help of SendGrid.</p>
	</footer>
</div>