<section class="container">
  <section class="row-fluid">	
    <section class='span6'>
      <%=nav1("Results")%>
    </section>
    <section class='span6' style='text-align:right;'>
      <!-- TODO: add buttons here -->
    </section>
	</section>

  <form action="/leads/filter_results" method="post">
    <section class="row-fluid box">
      <div class=''>
        <div id='job_title'></div>
        <div id='location'></div>
              <div id='industry'></div>
      </div>
    </section>
  </form>


</section>

<script>
    var job_title = document.getElementById('job_title');
    var location = document.getElementById('location');
    // var industry = document.getElementById('industry');


    filtersJs.draw(job_title, {
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
    });


    filtersJs.draw(location, {
        allowed_positive_keywords: true,
        allowed_negative_keywords: true,
    });

    // TODO: Add FilterJS for multiple items



</script>