<section class="container">
  <section class="row-fluid">	
    <section class='span6'>
      <%=nav1("Results")%>
    </section>
    <section class='span6' style='text-align:right;'>
      <!-- TODO: add buttons here -->
    </section>
	</section>

  <section class="row-fluid box">
  
    <div class='span4'>
      <i>add a filters here using filterjs. Filters allowed are: job position, industry and country.</i>
    </div>

    <div class='span8'>
      <i>add list of results here</i>
    </div>

  </section>

</section>
