<section class="container">
  <section class="row-fluid">	
    <section class='span6'>
      <%=nav1("Searches")%>
    </section>
    <section class='span6' style='text-align:right;'>
      <!-- TODO: add buttons here -->
    </section>
	</section>

  <section class="row-fluid box">
    <i>draw the screen.</i>
  </section>

</section>