	<section id='header' class="box" align='center' valign='middle'>
		<div style='position:absolute;top:0;left:0;width:100%;height:16px;background-image: url("../leads/img/guarda.png");background-repeat: repeat-x;'></div>
		<br/>
		<br/>
		<section class='row-fluid'>
			<p style='font-size:28pt'><b>Welcome!</b></p>
		</section>

		<br/>
		<section class='row-fluid'>
			<p style='font-size:14pt'>
				We have received your subscription. One of our experts will contact you within the next 24 hours.<br/>
			</p>
		</section>

		<br/>
		<section class='row-fluid'>

			<div class='row-fluid'>
				<div class='span2'></div>
				<div class='span10'>
					<p style='font-size:14pt' align='left'>
						<b>Do you want to start now?</b> Just follow the instructions below.
					</p>
				</div>
			</div>
			<br/>
			
			<div class='span12'>
				<div class='span2'></div>
				<div class='span4' align='left'>
					<h3>1. LOGIN</h3>
					<p>
						We have sent you an email with the password when you signed up at the first time.
						Search in your inbox with an email with the subject "Welcome to leadsData". 
						If you can't find your email in your inbox, please check the spam folder. 
						If you still can't find the email, plase send an email to our <a href='mailto:<%=HELPDESK_EMAIL%>'>support team</a>.  
						If you already know what's your password, you can login now <a href='http://connectionsphere.com/login' target='_window'>here</a>.
					</p>
				</div>
				<div class='span4'>
					<article class="text-center">
						<img src="img/screenshot5.png" alt="#" class="zoom-img img-responsive center-block">
					</article>
				</div>
			</div>
			<br/>
			
			<div class='span12'>
				<div class='span2'></div>
				<div class='span4'>
					<article class="text-center">
						<img src="img/screenshot2.png" alt="#" class="zoom-img img-responsive center-block">
					</article>
				</div>
				<div class='span4' align='left'>
					<h3>2. CREATE YOUR SEARCH</h3>
					<p>
						If it's the first time that you login to your account, you will be redirected to the search creation form. 
						At this form your should setup the name of your search, and the targeting parameters. No one targeting parameter is mandatory.<br/>
						<br/>
						If you need more information about how to create your first search, you should read <a href='http://help.connectionsphere.com/knowledgebase/articles/1163443' target='_window'>this article</a>.
					</p>
				</div>
			</div>
			<br/>

			<div class='span12'>
				<div class='span2'></div>
				<div class='span4' align='left'>
					<h3>3. WAIT FOR RESULTS</h3>
					<p>
						After you have created your search, out backend processes will start searching for accurate leads in the public web.
						Even if we have our pre-build database, we know that data go fake with the time. We prefer to build new records and 
						validate all of them before to release. This process can take few hours or even a few days.<br/>
						<br/>
						As soon as your search start getting results, you will be notified by email. Additionaly, our experts check every single
						new search created by our clients, and evaluate if the search is too restrictive to get a large number of records. Your
						will probably receive an email from <a href='mailto:<%=HELPDESK_EMAIL%>' target='_window'><%=HELPDESK_EMAIL%></a>
						with any suggerence about how to expand your serach without losing accuracy. 
					</p>
				</div>
				<div class='span4'>
					<article class="text-center">
						<img src="img/screenshot1.png" alt="#" class="zoom-img img-responsive center-block">
						<br/>
						<div class='text-left'>
						If you need more information about how to get browse browse the results of a search, you should read <a href='http://help.connectionsphere.com/knowledgebase/articles/1126198' target='_window'>this article</a>.
						</div>
					</article>
				</div>
			</div>
			<br/>
			
		</section>

	</section>