<%
email=params[:email]
password=""
err=params[:err]
title = params[:title]

if (email==nil)
	email=""
end


# guardar el ID de intento de login en una variable de sesion
id_login = session['login.id']
user = nil
login = BlackStack::Login.where(:id=>id_login).first
if (login != nil)
	user = BlackStack::User.where(:id=>login.id_user).first
end

# envio el correo electronico de bienvenida
if (user != nil)
	n = NotificationWelcomeToPaidLeadsData.new()
	n.id = guid()
	n.create_time = now()
	n.id_user = user.id
	n.name_to = user.email
	n.email_to = user.email
	n.name_from = NOTIFICATIONS[:from_name]
	n.email_from = NOTIFICATIONS[:from_email]
	n.send() # el metodo SEND se encarga tambien de guardar el objeto
end
%>

<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
	<meta charset="ISO-8859-1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		27 Free Leads - Targeted Leads with Verified Emails & Phone Numbers 
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	
	<script src="../apps/javascripts/1.3.0/adminflare-demo-init.min.js" type="text/javascript"></script>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet" type="text/css">
	<script type="text/javascript">
		// Include Bootstrap stylesheet 
		document.write('<link href="../apps/css/' + DEMO_ADMINFLARE_VERSION + '/' + DEMO_CURRENT_THEME + '/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" id="bootstrap-css">');
		// Include AdminFlare stylesheet 
		document.write('<link href="../apps/css/' + DEMO_ADMINFLARE_VERSION + '/' + DEMO_CURRENT_THEME + '/adminflare.min.css" media="all" rel="stylesheet" type="text/css" id="adminflare-css">');
		// Include AdminFlare page stylesheet 
		document.write('<link href="../apps/css/' + DEMO_ADMINFLARE_VERSION + '/pages.min.css" media="all" rel="stylesheet" type="text/css">');
	</script>
	
	<script src="../apps/javascripts/1.3.0/modernizr-jquery.min.js" type="text/javascript"></script>
<!--
<link href="apps/css/1.3.0/default/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" id="bootstrap-css">
<link href="apps/css/1.3.0/default/adminflare.min.css" media="all" rel="stylesheet" type="text/css" id="adminflare-css">
<link href="apps/css/1.3.0/pages.min.css" media="all" rel="stylesheet" type="text/css">
<script src="apps/javascripts/1.3.0/adminflare-demo.min.js" type="text/javascript"></script>
<script src="apps/javascripts/1.3.0/adminflare.min.js" type="text/javascript"></script>
<script src="apps/javascripts/1.3.0/modernizr-jquery.min.js" type="text/javascript"></script>
-->
	<script type="text/javascript">
		$(document).ready(function() {
			var updateBoxPosition = function() {
				var top = $(window).height() - 62 - $('.error-box').height();
				$('.error-box').css({
					'margin-top': ((top > 0) ? Math.floor(top - top * 0.4) : 0) / 2
				});
			};
			$(window).resize(updateBoxPosition);
			setTimeout(updateBoxPosition, 50);
		});
	</script>

    <!-- core styles -->
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../freeleads/css.plantable/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../freeleads/css.salesletter/core.css">
    <link rel="stylesheet" href="../freeleads/css.salesletter/menu-overlay.css">
    <link rel="stylesheet" href="../freeleads/css.salesletter/colors.css">
    <link rel="stylesheet" href="../freeleads/css.salesletter/anima.css">
    <!-- end core styles -->
    <link rel="stylesheet" href="../freeleads/css.salesletter/owl.carousel.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/sliders.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/modal.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/cta.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/numbers.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/features.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/forms.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/contents.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/socials.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/footer.css">
	<link rel="stylesheet" href="../freeleads/css.salesletter/turquoise.css">

	<link rel="shortcut icon" href="img/ico/32.png" sizes="32x32" type="image/png" />
	<link rel="apple-touch-icon-precomposed" href="img/ico/60.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/72.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="img/ico/120.png" type="image/png" />
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="img/ico/152.png" type="image/png" />
    <script type="text/javascript" src="js/modernizr.min.js"></script>
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Facebook Pixel Code -->
	<script>
		!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
		document,'script','https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1105524919457812', {
		em: 'insert_email_variable'
		});
		fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1105524919457812&ev=PageView&noscript=1"/></noscript>
	<!-- DO NOT MODIFY -->
	<!-- End Facebook Pixel Code -->
</head>

<%
if (title.to_i == 1) # Welcome, luego de haber adquirido el Plan Bronce
%>
	<script>
	fbq('track', 'Puchase', { 
		product_name: 'FreeLeadsData',
		content_name: 'Welcome01',
		value: 199,
		currency: 'USD'
	});
	</script>
<%
elsif (title.to_i == 2) # Welcome, luego de haber adquirido el Plan Plata
%>
	<script>
	fbq('track', 'Puchase', { 
		product_name: 'FreeLeadsData',
		content_name: 'Welcome02',
		value: 349,
		currency: 'USD'
	});
	</script>	
<%
elsif (title.to_i == 2) # Welcome, luego de haber adquirido el Plan Oro
%>
	<script>
	fbq('track', 'Puchase', { 
		product_name: 'FreeLeadsData',
		content_name: 'Welcome03',
		value: 699,
		currency: 'USD'
	});
	</script>	
<%
else
%>
	<script>
	fbq('track', 'Puchase', { 
		product_name: 'FreeLeadsData',
		content_name: 'WelcomeXX'
	});
	</script>	
<%
end
%>

<body class="error-page">
<!--
<script type="text/javascript">demoSetBodyLayout();</script>
-->
	<div style='position:absolute;top:15px;right:15px;'>
		<!--
		<table>
			<tr>
				<td><a style='color:rgb(150,150,250);' href='/'><b>Try Free</b></a></td>
				<td width='15px'></td>
				<td><a style='color:rgb(150,150,250);' href='/plans'><b>Try Premium</b></a></td>
			</tr>
		</table>
		-->				
	</div>

	<!--
	<header>
		<a href=#><img src="../apps/images/freeleads.mini.png" height='128px'></a>
	</header>
	-->
	
	<section id='header' class="box" align='center' valign='middle'>
		<div style='position:absolute;top:0;left:0;width:100%;height:16px;background-image: url("../freeleads/img/guarda.png");background-repeat: repeat-x;'></div>
		<br/>
		<br/>
		<section class='row-fluid'>
			<p style='font-size:28pt'><b>Welcome!</b></p>
		</section>

		<br/>
		<section class='row-fluid'>
			<p style='font-size:14pt'>
				We have received your subscription. One of our experts will contact you within the next 24 hours.<br/>
			</p>
		</section>

		<br/>
		<section class='row-fluid'>

			<div class='row-fluid'>
				<div class='span2'></div>
				<div class='span10'>
					<p style='font-size:14pt' align='left'>
						<b>Do you want to start now?</b> Just follow the instructions below.
					</p>
				</div>
			</div>
			<br/>
			
			<div class='span12'>
				<div class='span2'></div>
				<div class='span4' align='left'>
					<h3>1. LOGIN</h3>
					<p>
						We have sent you an email with the password when you signed up at the first time.
						Search in your inbox with an email with the subject "Welcome to FreeLeadsData". 
						If you can't find your email in your inbox, please check the spam folder. 
						If you still can't find the email, plase send an email to our <a href='mailto:<%=HELPDESK_EMAIL%>'>support team</a>.  
						If you already know what's your password, you can login now <a href='http://connectionsphere.com/login' target='_window'>here</a>.
					</p>
				</div>
				<div class='span4'>
					<article class="text-center">
						<img src="img/screenshot5.png" alt="#" class="zoom-img img-responsive center-block">
					</article>
				</div>
			</div>
			<br/>
			
			<div class='span12'>
				<div class='span2'></div>
				<div class='span4'>
					<article class="text-center">
						<img src="img/screenshot2.png" alt="#" class="zoom-img img-responsive center-block">
					</article>
				</div>
				<div class='span4' align='left'>
					<h3>2. CREATE YOUR SEARCH</h3>
					<p>
						If it's the first time that you login to your account, you will be redirected to the search creation form. 
						At this form your should setup the name of your search, and the targeting parameters. No one targeting parameter is mandatory.<br/>
						<br/>
						If you need more information about how to create your first search, you should read <a href='http://help.connectionsphere.com/knowledgebase/articles/1163443' target='_window'>this article</a>.
					</p>
				</div>
			</div>
			<br/>

			<div class='span12'>
				<div class='span2'></div>
				<div class='span4' align='left'>
					<h3>3. WAIT FOR RESULTS</h3>
					<p>
						After you have created your search, out backend processes will start searching for accurate leads in the public web.
						Even if we have our pre-build database, we know that data go fake with the time. We prefer to build new records and 
						validate all of them before to release. This process can take few hours or even a few days.<br/>
						<br/>
						As soon as your search start getting results, you will be notified by email. Additionaly, our experts check every single
						new search created by our clients, and evaluate if the search is too restrictive to get a large number of records. Your
						will probably receive an email from <a href='mailto:<%=HELPDESK_EMAIL%>' target='_window'><%=HELPDESK_EMAIL%></a>
						with any suggerence about how to expand your serach without losing accuracy. 
					</p>
				</div>
				<div class='span4'>
					<article class="text-center">
						<img src="img/screenshot1.png" alt="#" class="zoom-img img-responsive center-block">
						<br/>
						<div class='text-left'>
						If you need more information about how to get browse browse the results of a search, you should read <a href='http://help.connectionsphere.com/knowledgebase/articles/1126198' target='_window'>this article</a>.
						</div>
					</article>
				</div>
			</div>
			<br/>
			
		</section>

	</section>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-102299452-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>

<%
DB.disconnect
GC.start
%>
